*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #dcd4c4;
  
}
label.myname{
    font-size: 30px;
    font-weight: 500;
}
.nav{
    display: flex;
   justify-content: space-between;
}

 ul li{
    display: inline-block;
    margin: 20px;
}
ul li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    background-color:#865151 ;
    padding: 7px;
    color: white;
}

p{
   
    font-size: 45px;
}
.p1{font-weight: bold;}
span{
    color: #AE5656;
}
.photo{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
#hire{
    background-color:#865151;
    color: white;
    border: none;
    padding: 10px;
    width: 130px;
    border-radius: 7px;
    margin-left: 185px;
   
    font-size: 20px;
}
#hire{
    color: black;
}
button:hover{
    background-color: #382828;
  
}
#hire:hover{
background-color: #382828;
color: white;

}
@media(max-width:800px){

    #content{
        display: flex;
        flex-direction: column;
  
       
    }
  
    p{
      align-self: center;
      text-align: center;
    }
   
  #navbar{
  flex-direction: column;
  justify-content: center;
  text-align: center;
  }
  #hire{
    margin-top: 40px;
  }
 
   
}